extend layout

block content
  if tag
    h1= 'tagged: #' + tag
  else
    h1 discover

  #posts
    for post in posts
      article
        time
          a(href='/post/#{post.key}')= post.value.created
        p.posted
          | posted by&#xa0;
          a(href='/user/#{post.value.uid}')= post.value.name
        if post.value.tags.length > 0
          p.tags tags:
            for tag in post.value.tags
              | &#xa0;
              a(href='/discover?tag=#{tag}')= '#' + tag
        if post.value.reply
          p.reply in reply to:&#xa0;
            != post.value.reply
        pre!= post.value.content

    .pagination
      if next && lastKey
        a(href='/discover?last=#{lastKey}') older

block login
